<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/custom")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("線上檢誤小幫手", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated && User.IsInRole("Administrator"))
                    {
                        <li>@Html.ActionLink("檢誤紀錄", "LogViewer", "Home")</li>
                        <li>@Html.ActionLink("新增使用者", "Register", "Account")</li>
                        <li>@Html.ActionLink("更改使用者密碼", "SetPassword", "Manage")</li>
                        <li>@Html.ActionLink("上傳調查表", "Upload", "Home")</li>
                        <li>@Html.ActionLink("新增調查表", "Create", "Home")</li>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("Investigator"))
                    {
                        <li>@Html.ActionLink("新增調查表", "Create", "Home")</li>
                    }   
                    @if (Request.IsAuthenticated && User.IsInRole("Reviewer"))
                    {
                        <li>@Html.ActionLink("檢誤紀錄", "LogViewer", "Home")</li>
                    }   
                    
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 農委會統計室</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/bootstrap")
    
</body>
</html>
